server/flows_raspberrypi.json
[{"id":"766aae13.dddd2","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"edab762.061bd88","type":"serial-port","z":"766aae13.dddd2","serialport":"/dev/ttyUSB0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"dbd8d301.acdeb","type":"file in","z":"766aae13.dddd2","name":"get info","filename":"/home/pi/identify_box/file/device_id","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":220,"y":100,"wires":[["1c4c7f01.b74011"]]},{"id":"d1c8264e.fb42c8","type":"inject","z":"766aae13.dddd2","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":60,"wires":[["dbd8d301.acdeb"]]},{"id":"6239f6d0.efd348","type":"debug","z":"766aae13.dddd2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":180,"wires":[]},{"id":"56e7ebca.d5dd74","type":"function","z":"766aae13.dddd2","name":"packet 1","func":"msg.payload = {\n    \"unit\": 1,\n    \"device_id\": msg.payload.device_id\n}\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":100,"wires":[["6239f6d0.efd348","2b7c8640.19862a"]]},{"id":"2b7c8640.19862a","type":"json","z":"766aae13.dddd2","name":"","property":"payload","action":"","pretty":false,"x":560,"y":100,"wires":[["de26df88.f4c92"]]},{"id":"31332c9a.1fcc24","type":"exec","z":"766aae13.dddd2","command":"bash /home/pi/identify_box/code/encrypt_public_system.sh","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"encrypt pub system","x":910,"y":100,"wires":[["fca73c2.b0245c"],[],[]]},{"id":"de26df88.f4c92","type":"file","z":"766aae13.dddd2","name":"write down","filename":"/home/pi/identify_box/file/packet_1","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":730,"y":100,"wires":[["31332c9a.1fcc24"]]},{"id":"fca73c2.b0245c","type":"file in","z":"766aae13.dddd2","name":"read base64 packet1","filename":"/home/pi/identify_box/file/encrypt_packet_1_base64","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":1140,"y":100,"wires":[["98256a93.fb36e8","af894671.1ca098"]]},{"id":"98256a93.fb36e8","type":"debug","z":"766aae13.dddd2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1360,"y":60,"wires":[]},{"id":"af894671.1ca098","type":"function","z":"766aae13.dddd2","name":"remove \\n","func":"var find = '\\n';\nvar re = new RegExp(find, 'g');\nmsg.payload = msg.payload.replace(re, '');\nmsg.payload += '\\n'\nreturn msg;","outputs":1,"noerr":0,"x":1340,"y":100,"wires":[["2d760b57.501c84"]]},{"id":"978e58ba.d5a3f8","type":"debug","z":"766aae13.dddd2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":3810,"y":320,"wires":[]},{"id":"29b15db6.f38c42","type":"file","z":"766aae13.dddd2","name":"response 1","filename":"/home/pi/identify_box/file/response_1_base64","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":450,"y":280,"wires":[["a353703b.3500d"]]},{"id":"a353703b.3500d","type":"exec","z":"766aae13.dddd2","command":"bash /home/pi/identify_box/code/decrypt_private_box.sh","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"decrypt priv system","x":650,"y":280,"wires":[["3f76876b.ea68e8"],[],[]]},{"id":"3f76876b.ea68e8","type":"file in","z":"766aae13.dddd2","name":"read response 1","filename":"/home/pi/identify_box/file/response_1","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":860,"y":280,"wires":[["151eb4a0.29cc7b","1eff2489.78cb1b"]]},{"id":"1c4c7f01.b74011","type":"json","z":"766aae13.dddd2","name":"","property":"payload","action":"","pretty":false,"x":330,"y":140,"wires":[["56e7ebca.d5dd74"]]},{"id":"e1583384.e45cb","type":"inject","z":"766aae13.dddd2","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":420,"y":360,"wires":[["9eca5ea.e7430a"]]},{"id":"9eca5ea.e7430a","type":"function","z":"766aae13.dddd2","name":"create product","func":"msg.payload = {\n    \"payload\":{\"id_producer\":\"elsfos\",\"detail\":\"san pham test supply chain vao luc 2h chieu da san sang\"},\n    \"payload_sig\":\"PSK0wBrU2oyj+eyACJgsYTgr7KEj+Od+PeAm7Pr3oAf3SMXNwbWc49/TGPuPFHFa\\n\"+\n\"LZqzgfB2wGV+0WHh1iEsk4zXSyg72an89mGSNSCA2qBkJsoGrGkALF/hQUF4pilr\\n\"+\n\"KA8re69iKrgeqhtMUkLXqrzzrx928Pw7/gW3m1MI9ppErkJgyVENbMEfF0LQTes9\\n\"+\n\"Jokyj4m7x7aKPxttiocjntxVVf9mbPHLP9XtNIEAxIEDciocFcrcpllpifx79YdC\\n\"+\n\"DdiFe3zElndp1bu2ZBN5nC/2WLn/+a+88X/XFQIXECRcw5pNGdgtPiojEmzsr2Wp\\n\"+\n\"yoip2KSFw36h3VoI5piO7A==\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":360,"wires":[["de19b66d.7c8ef8"]]},{"id":"de19b66d.7c8ef8","type":"file","z":"766aae13.dddd2","name":"","filename":"/home/pi/identify_box/file/product","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":860,"y":360,"wires":[[]]},{"id":"6437df68.21167","type":"file in","z":"766aae13.dddd2","name":"read product","filename":"/home/pi/identify_box/file/product","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":1330,"y":300,"wires":[["6c087dac.e08ad4"]]},{"id":"6c087dac.e08ad4","type":"function","z":"766aae13.dddd2","name":"add packet","func":"var payload =  JSON.parse(msg.payload)\nmsg.packet.payload = payload.payload\nmsg.packet.sig_payload = payload.payload_sig\nreturn msg;","outputs":1,"noerr":0,"x":1510,"y":280,"wires":[["f7cc99f8.624b98"]]},{"id":"152bb43b.12fa2c","type":"function","z":"766aae13.dddd2","name":"convert","func":"msg.packet = {\n    \"data\" : msg.packet\n}\nmsg.payload = msg.packet\nreturn msg;","outputs":1,"noerr":0,"x":1960,"y":280,"wires":[["ef4b1f03.36238"]]},{"id":"4faa586d.c3b078","type":"function","z":"766aae13.dddd2","name":"add packet","func":"msg.packet = {\n    \"timestamp\":msg.payload.timestamp\n}\nmsg.payload = msg.payload.code\nreturn msg;","outputs":1,"noerr":0,"x":1150,"y":280,"wires":[["29e76dfa.a2d262"]]},{"id":"151eb4a0.29cc7b","type":"debug","z":"766aae13.dddd2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1000,"y":200,"wires":[]},{"id":"1eff2489.78cb1b","type":"json","z":"766aae13.dddd2","name":"","property":"payload","action":"","pretty":false,"x":1030,"y":280,"wires":[["4faa586d.c3b078"]]},{"id":"f7cc99f8.624b98","type":"file in","z":"766aae13.dddd2","name":"get info","filename":"/home/pi/identify_box/file/device_id","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":1660,"y":280,"wires":[["991506e0.b48958"]]},{"id":"991506e0.b48958","type":"function","z":"766aae13.dddd2","name":"add packet","func":"msg.packet.device_id = JSON.parse(msg.payload).device_id\nreturn msg;","outputs":1,"noerr":0,"x":1810,"y":280,"wires":[["152bb43b.12fa2c"]]},{"id":"ef4b1f03.36238","type":"file","z":"766aae13.dddd2","name":"write data","filename":"/home/pi/identify_box/file/data","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":2120,"y":280,"wires":[["3a4a4498.ee828c"]]},{"id":"3a4a4498.ee828c","type":"exec","z":"766aae13.dddd2","command":"bash /home/pi/identify_box/code/sign_data.sh","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"sign data","x":2260,"y":280,"wires":[["72ad58c2.8e4398"],[],[]]},{"id":"29e76dfa.a2d262","type":"file","z":"766aae13.dddd2","name":"code encrypt","filename":"/home/pi/identify_box/file/code_encrypt","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":1330,"y":260,"wires":[["6437df68.21167"]]},{"id":"72ad58c2.8e4398","type":"file in","z":"766aae13.dddd2","name":"read sig","filename":"/home/pi/identify_box/file/sig_data_base64","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":2420,"y":280,"wires":[["92d77793.a806a8"]]},{"id":"92d77793.a806a8","type":"function","z":"766aae13.dddd2","name":"add packet","func":"msg.packet.data_sig = msg.payload\nmsg.payload = msg.packet\nreturn msg;","outputs":1,"noerr":0,"x":2590,"y":280,"wires":[["9e3d74fc.f019e8"]]},{"id":"9e3d74fc.f019e8","type":"file","z":"766aae13.dddd2","name":"write data","filename":"/home/pi/identify_box/file/data_full","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":2760,"y":280,"wires":[["2828e04a.5da2"]]},{"id":"2828e04a.5da2","type":"exec","z":"766aae13.dddd2","command":"bash /home/pi/identify_box/code/encrypt_code_system.sh","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"encrypt code system","x":2960,"y":280,"wires":[["b4f83006.27073"],[],[]]},{"id":"b4f83006.27073","type":"file in","z":"766aae13.dddd2","name":"packet 2","filename":"/home/pi/identify_box/file/encrypt_packet_2","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":3140,"y":280,"wires":[["dfbd8086.fa7f9"]]},{"id":"dfbd8086.fa7f9","type":"function","z":"766aae13.dddd2","name":"remove \\n","func":"var find = '\\n';\nvar re = new RegExp(find, 'g');\nmsg.payload = msg.payload.replace(re, '');\narr = msg.payload.match(/.{1,428}/g);\nmsg.num = parseInt(msg.payload.length / 428);\narr[msg.num] += '\\n'\nmsg.packet = arr\nmsg.count = -1\n//msg.payload += '\\n'\nreturn msg;","outputs":1,"noerr":0,"x":3280,"y":280,"wires":[["e676ff0e.9e01a","d5db798e.af1398"]]},{"id":"c8718c6c.6d316","type":"inject","z":"766aae13.dddd2","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":3280,"y":100,"wires":[["73875adc.b37b84"]]},{"id":"73875adc.b37b84","type":"function","z":"766aae13.dddd2","name":"","func":"msg.payload = \"jw65FyByPKHpeKn0p9uJXBLE1slMhZoDSGP8h6tOaRt1xX9s9OgTnrTwrTWJZnwXaJcT44j9MhL03rW0+Aqf8t20g8l1KKdJ2RnzgsHPjQEchHCfO0m7RtUDsrrMRV065tJhTXHu2j83SsTAfLH792eNdktScgPFR8qfPrrvTGQ7TPYn6RnZ8lq/SVo/CrzR+6E2k8+TPhsLg28FIEAxZZoUUkmXYuO2EnwRCDHzU8MGBeXkpekgBwoLsYKdFmG7u92eJciLZtlQCpif3c=\\n\"\n\n//arr = []\n// arr = msg.payload.content.match(/.{1,428}/g)\n// msg.payload = arr\nreturn msg;","outputs":1,"noerr":0,"x":3460,"y":100,"wires":[["4c6b65ef.ef720c"]]},{"id":"4c6b65ef.ef720c","type":"debug","z":"766aae13.dddd2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":3600,"y":100,"wires":[]},{"id":"2d5f9626.3a0e4a","type":"function","z":"766aae13.dddd2","name":"get pos","func":"msg.payload = msg.packet[msg.count]\nreturn msg;","outputs":1,"noerr":0,"x":3680,"y":280,"wires":[["d5e5593c.0d2f78","978e58ba.d5a3f8"]]},{"id":"e676ff0e.9e01a","type":"function","z":"766aae13.dddd2","name":"count ++","func":"msg.count ++\nreturn msg;","outputs":1,"noerr":0,"x":3500,"y":280,"wires":[["2d5f9626.3a0e4a","f4eff87f.98f9f8"]]},{"id":"f4eff87f.98f9f8","type":"switch","z":"766aae13.dddd2","name":"","property":"count","propertyType":"msg","rules":[{"t":"lt","v":"num","vt":"msg"}],"checkall":"true","repair":false,"outputs":1,"x":3510,"y":160,"wires":[["6b8bea96.136ba4"]]},{"id":"d5db798e.af1398","type":"debug","z":"766aae13.dddd2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":3290,"y":340,"wires":[]},{"id":"6b8bea96.136ba4","type":"delay","z":"766aae13.dddd2","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":3600,"y":220,"wires":[["e676ff0e.9e01a"]]},{"id":"6531e2a5.d6798c","type":"serial in","z":"766aae13.dddd2","name":"","serial":"edab762.061bd88","x":280,"y":280,"wires":[["29b15db6.f38c42"]]},{"id":"2d760b57.501c84","type":"serial out","z":"766aae13.dddd2","name":"","serial":"edab762.061bd88","x":1510,"y":100,"wires":[]},{"id":"d5e5593c.0d2f78","type":"serial out","z":"766aae13.dddd2","name":"","serial":"edab762.061bd88","x":3850,"y":260,"wires":[]},{"id":"6a1c8c9f.2b8c74","type":"rpi-gpio in","z":"766aae13.dddd2","name":"","pin":"12","intype":"up","debounce":"25","read":false,"x":100,"y":200,"wires":[["c8cc5a7.a3d64a8","ec82ede9.f2cb1"]]},{"id":"c8cc5a7.a3d64a8","type":"debug","z":"766aae13.dddd2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":330,"y":200,"wires":[]},{"id":"ec82ede9.f2cb1","type":"switch","z":"766aae13.dddd2","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":90,"y":120,"wires":[["dbd8d301.acdeb"]]}]